.column {
  width: 300px;
  float: left;
}

.column1 {
  background-color: lightyellow;
}

.column2 {
  background-color: skyblue;
}

.column3 {
  background-color: pink;
}

.amazing {
  color: pink;
  font-style: oblique;
}
